.banner{
    background: url('../img/banner.jpg') no-repeat center;
    background-size: cover;
    height: 100vh;
}

.spinner{
    margin-top: 300px;
}


/* navbar start*/

.menu{
    background: #fff;
    width: 100%;
    min-height: 90px;
    position: fixed;
    padding-top: 15px;
}

.menu .menu_logo{
    font-size: 50px;
}
.menu .top_btn{
    background: transparent;
    border: 1px solid #000;
    padding: 10px 35px;
    font-size: 18px;
    margin: 0 6px;
    font-weight: 500;
    transition: .3s;
    text-decoration: none;
    color: #000;
}

.menu .top_btn:hover{
    background: #000;
    color: #fff;
}

/* navbar end */

/* explore */
.explore{
    padding-top: 120px;
}

/* product start */

.product{
    margin: 25px 0;
}

.product_info .product_btn{
    background: #000;
    color: #fff;
    border-radius: 0;
    padding: 10px 30px;
    margin-top: 20px;
}

.explore .product_btn{
    background: #000;
    color: #fff;
    border-radius: 0;
    padding: 10px 30px;
    margin-top: 20px;
}

.product_info .product_btn:hover{
    color: chocolate;
}


/* product end */


/* purchase */
.long{
    margin-top: 50px;
}
.purchase{
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 15px;
}
/* about start */
.about{
    background:rgb(247, 247, 247);
}

.about_left{
    display: flex;
    align-items: center;
    text-align: left;
}

.about_left h6{
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: chocolate;
}

.about_left h3{
    font-size: 45px;
    margin: 25px 0;
}


.about_left p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: rgb(110, 107, 107);
}

/* about end */

/* login start */

.login{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.login h3{
    margin: 40px 0;
}
.log{
    background: cornflowerblue;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 16px;
}

/* login end */

/* registet start */

.register{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.register h3{
    margin: 30px 0;
}

/* registet end */


/* dashboard start */


.dashboard{
    text-align: left;
    background: rgba(247, 247, 247, 0.946);
    min-height: 100vh;
    /* padding-top: 100px; */
}


.dashboard_items{
    display: flex;
    flex-direction: column;
    background: rgb(235, 235, 235);
    width: 100%;
    min-height: 100%;
    padding-top: 120px;
}

.dashboard_items button{
    color:#000;
    background: transparent;
    width: 100%;
    border: 1px solid #fff;
    margin: 10px 0;
    padding: 15px 20px;
}


/* dashboard end */

/* admin */
.admin{
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.admin Form{
    width: 100%;
}



/* review start */

.reviews{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.reviews form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px ;
}

.post{
    background: chocolate;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
}


.post:hover{
    color: #000;
}

/* review end */

/* add product start */

.add_product{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 120px;
}

.add_product form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px ;
}


/* add product end */

/* check_order */
.check_order{
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.check_order h4{
    
    color: chocolate;
}

/* watches start */
#watches{
    padding: 100px 0;
}
/* watches end */


/* review */

.reviews_post{
    padding: 100px 0;
    background: rgb(252, 247, 247);
}

.clients{
    margin-bottom: 40px;
}

.client_reviews{
    border: 1px solid rgb(63, 62, 62);
    margin-bottom: 20px;
}

/* pay start */
.pay{
    display: flex;
    align-items: center;
    color: chocolate;
    padding-top: 180px;
}
/* pay end */

/* footer start */

.footer{
    text-align: left;
    padding: 100px 0;
    background: url('../img/footer-bg.jpg') no-repeat center;
    background-size: cover;
}

.footer h4{
    margin-bottom: 30px;
    color: rgb(48, 46, 46);
}

.footer p{
    color: rgb(112, 109, 107);
    cursor: pointer;
}    

.footer p:hover{
    color: chocolate;
}
/* footer end */